@font-face {
  font-family: 'NotoSans';
  font-weight: 400;
  src: local("NotoSans"), url("/layout/fonts/NotoSans-Regular.woff2") format("woff2"), url("/layout/fonts/NotoSans-Regular.woff") format("woff"), url("/layout/fonts/NotoSans-Regular.ttf") format("ttf"), url("/layout/fonts/NotoSans-Regular.eot") format("eot");
}

@font-face {
  font-family: 'NotoSans-Medium';
  font-weight: 500;
  src: local("NotoSans-Medium"), url("/layout/fonts/NotoSans-Medium.woff2") format("woff2"), url("/layout/fonts/NotoSans-Medium.woff") format("woff"), url("/layout/fonts/NotoSans-Medium.ttf") format("ttf"), url("/layout/fonts/NotoSans-Medium.eot") format("eot");
}

@font-face {
  font-family: 'NotoSans-SemiBold';
  font-weight: 600;
  src: local("NotoSans-SemiBold"), url("/layout/fonts/NotoSans-SemiBold.woff2") format("woff2"), url("/layout/fonts/NotoSans-SemiBold.woff") format("woff"), url("/layout/fonts/NotoSans-SemiBold.ttf") format("ttf"), url("/layout/fonts/NotoSans-SemiBold.eot") format("eot");
}

@font-face {
  font-family: 'NotoSans-Bold';
  font-weight: 700;
  src: local("NotoSans-Bold"), url("/layout/fonts/NotoSans-Bold.woff2") format("woff2"), url("/layout/fonts/NotoSans-Bold.woff") format("woff"), url("/layout/fonts/NotoSans-Bold.ttf") format("ttf"), url("/layout/fonts/NotoSans-Bold.eot") format("eot");
}

@font-face {
  font-family: 'NotoSans-ExtraBold';
  font-weight: 800;
  src: local("NotoSans-ExtraBold"), url("/layout/fonts/NotoSans-ExtraBold.woff2") format("woff2"), url("/layout/fonts/NotoSans-ExtraBold.woff") format("woff"), url("/layout/fonts/NotoSans-ExtraBold.ttf") format("ttf"), url("/layout/fonts/NotoSans-ExtraBold.eot") format("eot");
}

body {
  font-family: 'NotoSans';
  font-style: normal;
  font-size: 24px;
  line-height: 160%;
  letter-spacing: 0.02em;
  color: #000000;
}

h1 {
  font-family: 'NotoSans-SemiBold';
  font-size: 40px;
  line-height: 180%;
  letter-spacing: 0.02em;
  color: #000000;
}

h2,
.h2 {
  font-family: 'NotoSans-SemiBold';
  font-size: 36px;
  line-height: 120%;
  padding-bottom: 20px;
}

h3,
.h3 {
  font-family: 'NotoSans-Bold';
  font-style: normal;
  font-size: 30px;
  line-height: 160%;
}

a {
  color: #61C8C1;
}

a:hover {
  text-decoration: none;
  color: #31A099;
}

.container-xl {
  max-width: 1300px;
}

.text-light-green {
  color: #61C8C1;
}

.text-gray {
  color: #AAB4B3;
}

.text-black {
  color: #000000;
}

a.text-black:hover {
  color: #AAB4B3;
}

.text-underline {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.bg-light-green {
  background: #F2FAFC;
  -webkit-box-shadow: 1px 1px 10px 2px rgba(125, 169, 166, 0.25);
          box-shadow: 1px 1px 10px 2px rgba(125, 169, 166, 0.25);
}

/*header*/
.logo_img {
  background-image: url(/layout/img/logo.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 60px;
  min-width: 50px;
  margin-right: 11px;
}

.logo_text {
  font-family: 'NotoSans-Bold';
  font-size: 14px;
  line-height: 110%;
  color: #AAB4B3;
}

.logo_text > div:first-child {
  font-family: 'NotoSans-Bold';
  font-size: 20px;
  color: #000000;
}

.select-region {
  font-size: 18px;
  line-height: 110%;
  color: #000000;
}

.fa-chevron-down {
  font-size: 10px;
}

.header-phone {
  font-family: 'NotoSans-Bold';
  font-size: 18px;
  line-height: 110%;
}

.header-phone > a {
  color: #000000;
}

.header-phone > a:hover {
  color: #AAB4B3;
}

.header-time {
  font-family: 'NotoSans-Bold';
  font-size: 18px;
  line-height: 110%;
}

.header-bottom {
  font-family: 'NotoSans-Bold';
  font-size: 18px;
  line-height: 110%;
  padding-left: 14px;
  padding-top: 25px;
}

.header-bottom > div:first-child {
  padding-right: 50px;
}

.callback {
  font-family: 'NotoSans-Bold';
  font-size: 18px;
  line-height: 110%;
}

.come-in {
  font-family: 'NotoSans-Bold';
  font-size: 18px;
  line-height: 110%;
  padding-top: 15px;
}

.come-in > a {
  color: #AAB4B3;
}

.come-in > a:hover {
  color: #000000;
}

.come-in > a::after {
  content: url(/layout/img/exit.png);
  padding-left: 10px;
}

/*menu*/
.navbar-nav {
  font-family: 'NotoSans-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 110%;
  text-align: center;
  color: #000000;
}

.nav-item > a {
  color: #000000;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  background: #F2FAFC;
  -webkit-box-shadow: 1px 1px 10px 2px rgba(125, 169, 166, 0.25);
          box-shadow: 1px 1px 10px 2px rgba(125, 169, 166, 0.25);
  padding: 22px 0;
}

.dropdown-menu > .dropdown-item {
  line-height: 200%;
  letter-spacing: 0.02em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #000000;
  padding: 0 19px;
}

.dropdown-menu > .dropdown-item .fa-circle {
  font-size: 5px;
  padding-right: 8px;
  margin-bottom: -8px;
}

.dropdown-menu > .dropdown-item:hover {
  color: #16181b;
  text-decoration: none;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  background: #F2FAFC;
}

#navbarSupportedContent .navbar-nav .active {
  border-bottom: 5px solid #61C8C1;
}

.search {
  font-family: 'NotoSans-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 110%;
  text-align: right;
}

.search > a:hover {
  color: #AAB4B3;
}

.search > i {
  font-size: 28px;
}

.nav-search {
  right: 0px;
  top: 15px;
}

.nav-search input {
  font-size: 18px;
  background: #FFFFFF;
  border: 2px solid #9BA8A7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 4.1px;
  padding-left: 30px;
  width: 0;
}

.nav-search input:focus {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 18vw !important;
}

.nav-search button {
  font-family: 'NotoSans-SemiBold';
  font-weight: 600;
  font-size: 20px;
  line-height: 110%;
  color: #FFFFFF;
  background: #9BA8A7;
  padding: 13px 37px;
}

.nav-search button:hover {
  background-color: #16181b;
}

/*footer*/
footer {
  background: #F2FAFC;
}

.list-in-footer {
  font-family: 'NotoSans-SemiBold';
  font-weight: 600;
  font-size: 18px;
  color: #61C8C1;
}

.nord-soft {
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.02em;
}

.nord-soft_logo a, .nord-soft_logo:hover {
  color: #000000;
}

/*content*/
.general {
  padding: 80px 0;
  font-family: 'NotoSans-SemiBold';
  font-weight: 600;
}

.general-img {
  min-height: 615px;
  max-width: 1600px;
  background-image: url(/layout/img/general.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.general-title {
  font-size: 40px;
  line-height: 180%;
  letter-spacing: 0.02em;
  padding-bottom: 25px;
  max-width: 1030px;
}

.general-description {
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0.02em;
}

.general-link {
  font-size: 30px;
  line-height: 120%;
}

.general-link > a {
  padding: 20px 115px;
  background: #61C8C1;
  -webkit-box-shadow: 0px 4px 4px rgba(125, 169, 166, 0.6);
          box-shadow: 0px 4px 4px rgba(125, 169, 166, 0.6);
}

.general-link > a:hover {
  background: #31A099;
  -webkit-box-shadow: 0px 4px 4px rgba(125, 169, 166, 0.6);
          box-shadow: 0px 4px 4px rgba(125, 169, 166, 0.6);
}

.general-link > a:first-child {
  margin-right: 70px;
}

.general > div:first-child {
  padding-bottom: 9vw;
}

.educational-center {
  padding-bottom: 105px;
}

.educational-center_title {
  font-family: 'NotoSans-SemiBold';
  font-weight: 600;
  font-size: 25px;
  line-height: 150%;
  letter-spacing: 0.02em;
}

.educational-center_link {
  font-family: 'NotoSans-Medium';
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
}

.educational-center_link > a {
  padding: 10px 40px;
  color: #000000;
  background: #F2FAFC;
  -webkit-box-shadow: 1px 1px 10px 2px rgba(125, 169, 166, 0.25);
          box-shadow: 1px 1px 10px 2px rgba(125, 169, 166, 0.25);
}

.educational-center_link > a:hover {
  color: #AAB4B3 !important;
}

.directions-of-study {
  padding-bottom: 70px;
}

.directions-of-study_link {
  font-family: 'NotoSans-Medium';
  font-weight: 500;
  font-size: 32px;
  line-height: 150%;
}

.directions-of-study_link a {
  color: #000000;
}

.directions-of-study_link a:hover {
  color: #AAB4B3;
}

.directions-of-study_link > div {
  padding: 15px 120px;
  margin-bottom: 40px;
  background: #F2FAFC;
  -webkit-box-shadow: 1px 1px 10px 2px rgba(125, 169, 166, 0.25);
          box-shadow: 1px 1px 10px 2px rgba(125, 169, 166, 0.25);
}

.offer-calculator {
  padding-bottom: 100px;
}

.offer-calculator_calc {
  background-image: url(/layout/img/calc.png);
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 100px;
  min-width: 90px;
}

.offer-calculator_letter {
  background-image: url(/layout/img/letter.png);
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 100px;
  min-width: 120px;
}

.steps {
  padding-bottom: 90px;
}

.step_text {
  font-family: 'NotoSans-Medium';
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
}

.application-for-training {
  font-family: 'NotoSans-SemiBold';
  font-weight: 600;
  font-size: 30px;
  line-height: 120%;
  padding: 35px 80px;
  background: #61C8C1;
  -webkit-box-shadow: 0px 4px 4px rgba(125, 169, 166, 0.6);
          box-shadow: 0px 4px 4px rgba(125, 169, 166, 0.6);
  min-width: 630px;
  margin-bottom: 100px;
}

.application-for-training:hover {
  background: #31A099;
}

.payment {
  padding-bottom: 100px;
}

.payment > div {
  padding: 30px 85px;
  background: #F2FAFC;
  -webkit-box-shadow: 1px 1px 10px 2px rgba(125, 169, 166, 0.25);
          box-shadow: 1px 1px 10px 2px rgba(125, 169, 166, 0.25);
}

.payment_title {
  font-family: 'NotoSans-SemiBold';
  font-weight: 600;
  font-size: 30px;
  line-height: 150%;
  color: #61C8C1;
}

.calc-delivery {
  font-family: 'NotoSans-SemiBold';
  font-weight: 600;
  font-size: 30px;
  line-height: 150%;
  background: #F2FAFC;
  -webkit-box-shadow: 1px 1px 10px 2px rgba(125, 169, 166, 0.25);
          box-shadow: 1px 1px 10px 2px rgba(125, 169, 166, 0.25);
  padding: 20px 0;
  margin-bottom: 100px;
}

.calc-delivery > img {
  max-width: 70px;
}

.advantages {
  line-height: 120%;
  margin-bottom: 100px;
}

.advantages_text {
  font-size: 24px;
}

.advantages1 {
  background-image: url(/layout/img/advantages1.png);
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 60px;
}

.advantages2 {
  background-image: url(/layout/img/advantages2.png);
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 65px;
  min-height: 50px;
}

.advantages3 {
  background-image: url(/layout/img/advantages3.png);
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 60px;
}

.advantages4 {
  background-image: url(/layout/img/advantages4.png);
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 60px;
}

.advantages5 {
  background-image: url(/layout/img/advantages5.png);
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 60px;
}

.advantages6 {
  background-image: url(/layout/img/advantages6.png);
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 60px;
}

.advantages7 {
  background-image: url(/layout/img/advantages7.png);
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 60px;
}

.advantages8 {
  background-image: url(/layout/img/advantages8.png);
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 60px;
}

.advantages .d-flex {
  min-height: 134px;
}

.accordion button {
  font-family: 'NotoSans-Medium';
  font-weight: 500;
  font-size: 24px;
  line-height: 160%;
  letter-spacing: 0.02em;
  color: #000000;
  background: #F2FAFC;
  -webkit-box-shadow: 1px 1px 10px 2px rgba(125, 169, 166, 0.25);
          box-shadow: 1px 1px 10px 2px rgba(125, 169, 166, 0.25);
  padding: 25px;
}

.accordion .collapse {
  font-family: 'NotoSans-Medium';
  font-style: italic;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: 0.02em;
  color: #000000;
  background: #F2FAFC;
  -webkit-box-shadow: 1px 1px 10px 2px rgba(125, 169, 166, 0.25);
          box-shadow: 1px 1px 10px 2px rgba(125, 169, 166, 0.25);
  padding: 25px;
}

.accordion .collapsing {
  -webkit-transition: 0.1ms;
  transition: 0.1ms;
}

.answers {
  font-family: 'NotoSans-SemiBold';
  font-weight: 600;
  font-size: 24px;
  line-height: 160%;
}

.any-questions {
  padding-top: 100px;
  max-width: 35%;
}

.any-questions_title {
  font-family: 'NotoSans-SemiBold';
  font-weight: 600;
  font-size: 36px;
  line-height: 120%;
}

.any-questions > div {
  padding-bottom: 45px;
}

.payment-methods {
  padding-bottom: 100px;
}

.payment-methods_card {
  font-weight: 600;
  font-size: 30px;
  line-height: 150%;
  color: #61C8C1;
}

.payment-methods > div {
  padding: 30px 85px;
  background: #F2FAFC;
  -webkit-box-shadow: 1px 1px 10px 2px rgba(125, 169, 166, 0.25);
          box-shadow: 1px 1px 10px 2px rgba(125, 169, 166, 0.25);
}

.card-payment {
  font-size: 30px;
}

.card-payment > div {
  padding: 30px;
  background: #F2FAFC;
  -webkit-box-shadow: 1px 1px 5px rgba(125, 169, 166, 0.5);
          box-shadow: 1px 1px 5px rgba(125, 169, 166, 0.5);
}

.card-payment > i {
  font-size: 24px;
}

.card-payment span {
  font-family: 'NotoSans-Bold';
  font-style: normal;
  font-weight: 700;
}

.voz {
  padding: 105px 0;
}

.voz_img {
  background-image: url(/layout/img/voz.png);
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 420px;
  min-height: 470px;
}

.attention {
  font-family: 'NotoSans-SemiBold';
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
}

.attention > span {
  font-size: 30px;
}

.yandex-checkout {
  font-family: 'NotoSans-SemiBold';
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  padding-bottom: 100px;
}

.cashless-payment {
  padding-bottom: 170px;
}

.cashless-payment span {
  font-family: 'NotoSans-ExtraBold';
  font-weight: 800;
}
