<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="/layout/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/layout/css/font-awesome.css" />
    <link rel="stylesheet" href="/layout/css/template_styles.css" />
    <title>fb-dpo.ru</title>
</head>

<body>
    <div class="sticky">
        <header>
            <div class="container-xl">
                <div class="row pt-5">
                    <div class="col-3 p-0">
                        <a href="/">
                            <div class="logo d-flex">
                                <div class="logo_img"></div>
                                <div class="logo_text">
                                    <div class="pt-3 pb-2">Фактор Безопасности</div>
                                    <div>Учебный центр</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-6 p-0 mt-3">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="select-region d-flex align-items-center">
                                <i class="fa fa-chevron-down text-light-green pr-1" aria-hidden="true"></i>
                                <span>Московская область</span>
                            </div>
                            <div class="header-phone">
                                <a href="tel:+74932409454">+7 (4932) 40-94-54</a>
                            </div>
                            <div class="header-time">Пн-Вс: 8-17 (Мск)</div>
                        </div>
                        <div class="d-flex header-bottom">
                            <div><a href="#">Коммерческое предложение</a></div>
                            <div>
                                <a href="#">Заявка на обучение</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 p-0 mt-3 text-right">
                        <div class="callback">
                            <a href="#">Заказать обратный звонок</a>
                        </div>
                        <div class="come-in d-flex justify-content-end">
                            <a href="#" class="d-flex align-items-center">
                                <div>Войти</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="container-xl p-0 pb-5">
            <nav class="navbar navbar-expand-lg p-0">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
            <span class="navbar-toggler-icon"></span>
          </button>

                <div class="collapse navbar-collapse justify-content-between d-flex" id="navbarSupportedContent">
                    <ul class="navbar-nav justify-content-between col-10">
                        <li class="nav-item dropdown d-flex align-items-center">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Об учебном центре
                </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#"><i class="fa fa-circle" aria-hidden="true"></i>О нас</a
                  >

                  <a class="dropdown-item" href="#"
                    ><i class="fa fa-circle" aria-hidden="true"></i>Документы</a
                  >

                  <a class="dropdown-item" href="#"
                    ><i class="fa fa-circle" aria-hidden="true"></i>Сведения об
                    образовательной организации</a
                  >

                  <a class="dropdown-item" href="#"
                    ><i class="fa fa-circle" aria-hidden="true"></i>Реквизиты</a
                  >

                  <a class="dropdown-item" href="#"
                    ><i class="fa fa-circle" aria-hidden="true"></i
                    >Вопрос-ответ</a
                  >

                  <a class="dropdown-item" href="#"
                    ><i class="fa fa-circle" aria-hidden="true"></i>Бонусная
                    программа</a
                  >
                </div>
                <i
                  class="fa fa-chevron-down text-light-green pr-1"
                  aria-hidden="true"
                ></i>
              </li>

              <li class="nav-item dropdown d-flex align-items-center">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Направления обучения
                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#"><i class="fa fa-circle" aria-hidden="true"></i
                    >Пожарно-технический минимум</a
                  >
                  <a class="dropdown-item" href="#"
                    ><i class="fa fa-circle" aria-hidden="true"></i>Повышение
                    квалификации по пожарной безопасности</a
                  >
                  <a class="dropdown-item" href="#"
                    ><i class="fa fa-circle" aria-hidden="true"></i
                    >Профессиональная переподготовка по пожарной безопасности</a
                  >
                </div>
                <i
                  class="fa fa-chevron-down text-light-green pr-1"
                  aria-hidden="true"
                ></i>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#">Цены</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"> Доставка</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Оплата</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Контакты</a>
                        </li>
                    </ul>
                    <div class="position-relative">
                        <form class="nav-search position-absolute mb-0 align-items-center d-none">
                            <i class="fa fa-search pr-1 text-gray position-absolute pl-2" aria-hidden="true"></i>
                            <input class="mr-n2 magic-input" type="search" placeholder="Поиск..." />
                            <button class="text-white border-0">Найти</button>
                        </form>
                        <div class="d-flex text-gray search align-items-center">
                            <i class="fa fa-search pr-1" aria-hidden="true"></i>
                            <a href="#" class="text-gray text-underline magic-link">Поиск по сайту</a
                >
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>

    <div class="content">
      <div class="container-xl px-0 pt-4">
        <div class="bread-crumbs">
          <a class="text-gray" href="">Главная</a><span class="pr-2">/</span
          ><a class="text-gray" href="">Направления обучения</a
          ><span class="pr-2">/</span
          ><span>Пожарно-технический минимум (ПТМ)</span>
                        </div>
                        <h1>
                            Дистанционное обучение пожарно-техническому минимуму — повышение квалификации для руководителей, специалистов, ответственных лиц и курсы ПТМ для работников организаций
                        </h1>
                        <div class="row cost-of-education_block mx-0">
                            <div class="d-flex flex-column col-6 justify-content-between px-0">
                                <div class="d-flex justify-content-between">
                                    <div class="cost-of-education font-weight-bold">
                                        Стоимость обучения
                                    </div>
                                    <div class="text-light-green">
                                        <span class="price font-weight-bold">от 790</span> руб/чел
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="offer-calculator_calc areas-of-study_calc mr-4"></div>
                                    <div>Калькулятор скидок</div>
                                </div>
                                <div class="d-flex">
                                    <div class="offer-calculator_letter areas-of-study_letter mr-4"></div>
                                    <div>
                                        Коммерческое предложение <a href="">получить на email</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 d-flex flex-column justify-content-between">
                                <div class="pl-4">
                                    <div class="dropdown">
                                        <a class="dropdown-toggle text-black font-weight-bold" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Цены подробнее
                </a>
                                        <i class="fa fa-chevron-down text-light-green pr-1" aria-hidden="true"></i>
                                        <div class="dropdown-menu special-prices_menu" aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-item text-decoration-none special-prices">
                                                <span class="font-weight-bold text-light-green">Специальные цены при коллективной заявке!</span
                    >
                    <ul class="pl-4">
                      <li>
                        от 5 чел -
                        <span class="font-weight-bold text-light-green"
                          >1040</span
                        >
                        р/чел;
                      </li>
                      <li>
                        от 10 чел -
                        <span class="font-weight-bold text-light-green"
                          >990</span
                        >
                        р/чел;
                      </li>
                      <li>
                        от 20 чел -
                        <span class="font-weight-bold text-light-green"
                          >890</span
                        >
                        р/чел;
                      </li>
                      <li>
                        от 30 чел -
                        <span class="font-weight-bold text-light-green"
                          >790</span
                        >
                        р/чел
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="areas-of-study_submit pb-3">
              <a
                href=""
                class="d-flex justify-content-center text-center text-white"
              >
                <div class="application-for-training">Оставить заявку</div>
              </a>
            </div>
          </div>
        </div>
        <div
          class="bg-light-green d-flex delivery-payment justify-content-between"
        >
          <div class="d-flex align-items-center">
            <div class="delivery-payment_img1"></div>
            <a href="">ДОСТАВКА ДОКУМЕНТОВ</a>
          </div>
          <div class="d-flex align-items-center">
            <div class="delivery-payment_img2"></div>
            <a href="">СПОСОБЫ ОПЛАТЫ</a>
          </div>
        </div>

        <h2>Преимущества обучения у нас</h2>
        <div class="d-flex advantages">
          <div>
            <div class="d-flex pb-5">
              <div class="advantages1 mr-4"></div>
              <div class="advantages_text">
                Проводим обучение ПТМ на основании образовательной
                <a href="">лицензии</a> (Проверить на сайте РОСОБРНАДЗОРА)
              </div>
            </div>
            <div class="d-flex pb-5">
              <div class="advantages2 mr-4"></div>
              <div class="advantages_text">
                Срок получения удостоверения от
                <span class="text-light-green">2 дней</span>
                                            </div>
                                        </div>
                                        <div class="d-flex pb-5">
                                            <div class="advantages3 mr-4"></div>
                                            <div class="advantages_text">
                                                Отправка оригиналов заказным письмом Почтой России
                                                <span class="text-light-green">БЕСПЛАТНО</span>
                                            </div>
                                        </div>
                                        <div class="d-flex pb-5">
                                            <div class="advantages4 mr-4"></div>
                                            <div class="advantages_text">
                                                Копии на e-mail в день прохождения теста (при условии подтверждения оплаты и соблюдении минимальных сроков обучения)
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="d-flex pb-5">
                                            <div class="advantages5 mr-4"></div>
                                            <div class="advantages_text">
                                                Актуальные программы обучения на 2022 год
                                            </div>
                                        </div>
                                        <div class="d-flex pb-5">
                                            <div class="advantages6 mr-4"></div>
                                            <div class="advantages_text">
                                                Обучение доступно 24 часа в сутки 7 дней в неделю
                                            </div>
                                        </div>
                                        <div class="d-flex pb-5">
                                            <div class="advantages7 mr-4"></div>
                                            <div class="advantages_text">
                                                Участие в бонусной программе: +40 баллов (см. здесь)
                                            </div>
                                        </div>
                                        <div class="d-flex pb-5">
                                            <div class="advantages8 mr-4"></div>
                                            <div class="advantages_text">
                                                Обучение проводится с использованием сертифицированной системы дистанционного обучения
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="steps">
                                    <h2>Как пройти дистанционное обучение</h2>
                                    <div class="d-flex">
                                        <div class="text-center">
                                            <img class="pb-4" src="/layout/img/step1.png" alt="step1" />
                                            <div class="step_text">РЕГИСТРАЦИЯ, ЗАПОЛНЕНИЕ ЗАЯВКИ</div>
                                        </div>
                                        <i class="fa fa-chevron-right text-light-green pt-4 pl-3" aria-hidden="true"></i>

                                        <div class="text-center">
                                            <img class="pb-4" src="/layout/img/step2.png" alt="step2" />
                                            <div class="step_text">
                                                Отправка на ваш E-mail: договора, счета и пароля для доступа к системе обучения
                                            </div>
                                        </div>
                                        <i class="fa fa-chevron-right text-light-green pt-4 pr-3" aria-hidden="true"></i>

                                        <div class="text-center">
                                            <img class="pb-4" src="/layout/img/step3.png" alt="step3" />
                                            <div class="step_text">ОБУЧЕНИЕ, ТЕСТИРОВАНИЕ</div>
                                        </div>
                                        <i class="fa fa-chevron-right text-light-green pt-4 pr-4" aria-hidden="true"></i>

                                        <div class="text-center">
                                            <img class="pb-4" src="/layout/img/step4.png" alt="step4" />
                                            <div class="step_text">ОПЛАТА</div>
                                        </div>
                                        <i class="fa fa-chevron-right text-light-green pt-4 pl-4" aria-hidden="true"></i>

                                        <div class="text-center">
                                            <img class="pb-4" src="/layout/img/step5.png" alt="step5" />
                                            <div class="step_text">ПОЛУЧЕНИЕ УДОСТОВЕРЕНИЯ</div>
                                        </div>
                                    </div>
                                </div>

                                <h2>
                                    Программы обучения по Пожарно-техническому минимуму (ПТМ), доступные на 2022 год
                                </h2>
                                <div class="font-weight-bold pb-4">
                                    Для руководителей и лиц, ответственных за пожарную безопасность в организации (повышение квалификации)
                                </div>
                                <table class="table table-sm mb-5">
                                    <thead>
                                        <tr>
                                            <th>Код программы</th>
                                            <th>Наименование программы</th>
                                            <th>Часы</th>
                                            <th>Срок</th>
                                            <th>Цена</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>ПТМ_ПК_01</td>
                                            <td>
                                                ПТМ для руководителей и лиц , ответственных за ПБ пожароопасных производств
                                            </td>
                                            <td>28</td>
                                            <td>3 дня</td>
                                            <td>1 090р</td>
                                            <td><a href="">Смотреть программу</a></td>
                                        </tr>
                                        <tr>
                                            <td>ПТМ_ПК_02</td>
                                            <td>
                                                ПТМ для руководителей подразделений пожароопасных производств
                                            </td>
                                            <td>16</td>
                                            <td>2 дня</td>
                                            <td>1 090р</td>
                                            <td><a href="">Смотреть программу</a></td>
                                        </tr>
                                        <tr>
                                            <td>ПТМ_ПК_06</td>
                                            <td>
                                                ПТМ для руководителей подразделений, осуществляющих круглосуточную охрану организаций
                                            </td>
                                            <td>16</td>
                                            <td>2 дня</td>
                                            <td>1 090р</td>
                                            <td><a href="">Смотреть программу</a></td>
                                        </tr>
                                        <tr>
                                            <td>ПТМ_ПК_07</td>
                                            <td>
                                                ПТМ для руководителей сельскохозяйственных организаций и ответственных за ПБ
                                            </td>
                                            <td>16</td>
                                            <td>2 дня</td>
                                            <td>1 090р</td>
                                            <td><a href="">Смотреть программу</a></td>
                                        </tr>
                                        <tr>
                                            <td>ПТМ_ПК_09</td>
                                            <td>
                                                ПТМ для ответственных за ПБ вновь строящихся и реконструируемых объектов
                                            </td>
                                            <td>16</td>
                                            <td>2 дня</td>
                                            <td>1 090р</td>
                                            <td><a href="">Смотреть программу</a></td>
                                        </tr>
                                        <tr>
                                            <td>ПТМ_ПК_10</td>
                                            <td>
                                                ПТМ для руководителей и ответственных за ПБ образовательных учреждений
                                            </td>
                                            <td>16</td>
                                            <td>2 дня</td>
                                            <td>1 090р</td>
                                            <td><a href="">Смотреть программу</a></td>
                                        </tr>
                                        <tr>
                                            <td>ПТМ_ПК_11</td>
                                            <td>ПТМ для воспитателей</td>
                                            <td>16</td>
                                            <td>2 дня</td>
                                            <td>1 090р</td>
                                            <td><a href="">Смотреть программу</a></td>
                                        </tr>
                                        <tr>
                                            <td>ПТМ_ПК_12</td>
                                            <td>
                                                ПТМ для руководителей и ответственных за ПБ организаций бытового обслуживания
                                            </td>
                                            <td>16</td>
                                            <td>2 дня</td>
                                            <td>1 090р</td>
                                            <td><a href="">Смотреть программу</a></td>
                                        </tr>
                                        <tr>
                                            <td>ПТМ_ПК_13</td>
                                            <td>
                                                ПТМ для руководителей и ответственных за ПБ организаций торговли, общественного питания, баз и складов
                                            </td>
                                            <td>16</td>
                                            <td>2 дня</td>
                                            <td>1 090р</td>
                                            <td><a href="">Смотреть программу</a></td>
                                        </tr>
                                        <tr>
                                            <td>ПТМ_ПК_14</td>
                                            <td>
                                                ПТМ для руководителей и ответственных за ПБ лечебных учреждений
                                            </td>
                                            <td>16</td>
                                            <td>2 дня</td>
                                            <td>1 090р</td>
                                            <td><a href="">Смотреть программу</a></td>
                                        </tr>
                                        <tr>
                                            <td>ПТМ_ПК_15</td>
                                            <td>
                                                ПТМ для руководителей и ответственных за ПБ театрально-зрелищных и культурно-просветительских учреждений
                                            </td>
                                            <td>16</td>
                                            <td>2 дня</td>
                                            <td>1 090р</td>
                                            <td><a href="">Смотреть программу</a></td>
                                        </tr>
                                        <tr>
                                            <td>ПТМ_ПК_16</td>
                                            <td>
                                                ПТМ для руководителей и ответственных за ПБ жилых домов и гостиниц
                                            </td>
                                            <td>16</td>
                                            <td>2 дня</td>
                                            <td>1 090р</td>
                                            <td><a href="">Смотреть программу</a></td>
                                        </tr>
                                        <tr>
                                            <td>ПТМ_ПК_17</td>
                                            <td>
                                                ПТМ для руководителей и ответственных за ПБ в учреждениях (офисах)
                                            </td>
                                            <td>16</td>
                                            <td>2 дня</td>
                                            <td>1 090р</td>
                                            <td><a href="">Смотреть программу</a></td>
                                        </tr>
                                        <tr>
                                            <td>ПТМ_ПК_18</td>
                                            <td>ПТМ для руководителей добровольных пожарных дружин</td>
                                            <td>16</td>
                                            <td>2 дня</td>
                                            <td>1 090р</td>
                                            <td><a href="">Смотреть программу</a></td>
                                        </tr>
                                        <tr>
                                            <td>ПТМ_ПК_19</td>
                                            <td>
                                                ПТМ для руководителей и ответственных за пожарную безопасность загородных и иных оздоровительных учреждений
                                            </td>
                                            <td>16</td>
                                            <td>2 дня</td>
                                            <td>1 090р</td>
                                            <td><a href="">Смотреть программу</a></td>
                                        </tr>
                                        <tr>
                                            <td>ПТМ_ПК_22</td>
                                            <td>
                                                ПТМ для руководителей и лиц, ответственных за пожарную безопасность организаций (предприятий) и проведение противопожарного инструктажа
                                            </td>
                                            <td>16</td>
                                            <td>2 дня</td>
                                            <td>1 090р</td>
                                            <td><a href="">Смотреть программу</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="font-weight-bold pb-4">
                                    Для работников организаций (краткосрочное обучение)
                                </div>
                                <table class="table table-sm mb-5">
                                    <thead>
                                        <tr>
                                            <th>Код программы</th>
                                            <th>Наименование программы</th>
                                            <th>Часы</th>
                                            <th>Срок</th>
                                            <th>Цена</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>ПТМ_ПК_03</td>
                                            <td>ПТМ для газоэлектросварщиков</td>
                                            <td>11</td>
                                            <td>1 день</td>
                                            <td>1 090р</td>
                                            <td><a href="">Смотреть программу</a></td>
                                        </tr>
                                        <tr>
                                            <td>ПТМ_ПК_04</td>
                                            <td>ПТМ для рабочих, осуществляющих пожароопасные работы</td>
                                            <td>11</td>
                                            <td>1 день</td>
                                            <td>1 090р</td>
                                            <td><a href="">Смотреть программу</a></td>
                                        </tr>
                                        <tr>
                                            <td>ПТМ_ПК_05</td>
                                            <td>ПТМ для киномехаников</td>
                                            <td>7</td>
                                            <td>1 день</td>
                                            <td>1 090р</td>
                                            <td><a href="">Смотреть программу</a></td>
                                        </tr>
                                        <tr>
                                            <td>ПТМ_ПК_06</td>
                                            <td>
                                                ПТМ для сотрудников, осуществляющих круглосуточную охрану организаций
                                            </td>
                                            <td>7</td>
                                            <td>1 день</td>
                                            <td>1 090р</td>
                                            <td><a href="">Смотреть программу</a></td>
                                        </tr>
                                        <tr>
                                            <td>ПТМ_ПК_08</td>
                                            <td>
                                                ПТМ для механизаторов, рабочих и служащих сельскохозяйственных объектов
                                            </td>
                                            <td>9</td>
                                            <td>1 день</td>
                                            <td>1 090р</td>
                                            <td><a href="">Смотреть программу</a></td>
                                        </tr>
                                        <tr>
                                            <td>ПТМ_ПК_18</td>
                                            <td>ПТМ для работников добровольных пожарных дружин</td>
                                            <td>16</td>
                                            <td>1 день</td>
                                            <td>1 090р</td>
                                            <td><a href="">Смотреть программу</a></td>
                                        </tr>
                                        <tr>
                                            <td>ПТМ_ПК_20</td>
                                            <td>ПТМ для работников культовых сооружений</td>
                                            <td>8</td>
                                            <td>1 день</td>
                                            <td>1 090р</td>
                                            <td><a href="">Смотреть программу</a></td>
                                        </tr>
                                        <tr>
                                            <td>ПТМ_ПК_21</td>
                                            <td>
                                                Fire-technical minimum courses for executives and specialists
                                            </td>
                                            <td>10</td>
                                            <td>1 день</td>
                                            <td>2 490р</td>
                                            <td><a href="">Смотреть программу</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <h2>
                                    Удостоверение о повышении квалификации для руководителей и лиц, ответственных за пожарную безопасность организаций и проведение противопожарного инструктажа
                                </h2>
                                <div class="mb-5">
                                    По окончании обучения и в случае успешного прохождения экзамена по курсу повышения квалификации вы получите удостоверение установленного образца и
                                    <a href="">протокол проверки знаний (см. образец протокола>>)</a>
                                </div>
                                <div class="d-flex justify-content-center pb-4">
                                    <img src="/layout/img/certificate.png" width="80%" height="auto" alt="certificate" />
                                </div>
                                <div class="w-75 mx-auto text-center mb-6">
                                    <div class="pb-4">
                                        ПЕРИОДИЧНОСТЬ ОБУЧЕНИЯ ПО ПРОГРАММАМ ПОВЫШЕНИЯ КВАЛИФИКАЦИИ В ОБЛАСТИ ПОЖАРНОЙ БЕЗОПАСНОСТИ УСТАНАВЛИВАЕТ РУКОВОДИТЕЛЬ ОРГАНИЗАЦИИ В СООТВЕТСТВИИ С ПОЖАРНОЙ, ВЗРЫВОПОЖАРНОЙ ОПАСНОСТЬЮ ОБЪЕКТА ЗАЩИТЫ
                                    </div>
                                    <div class="pb-4">
                                        УДОСТОВЕРЕНИЕ ДЕЙСТВИТЕЛЬНО НА ВСЕЙ ТЕРРИТОРИИ РФ
                                    </div>
                                    <a href="" class="text-underline">Узнать подробнее об удостоверении</a
          >
        </div>
        <h2>
          Удостоверение о прохождении курсов по ПТМ для работников рабочих
          профессий
        </h2>
        <div class="mb-5">
          По завершении обучения вы получите удостоверение установленного
          образца и
          <a href="">протокол проверки знаний (см. образец протокола >>)</a>
                                </div>
                                <div class="d-flex justify-content-center pb-4">
                                    <img src="/layout/img/ticket.png" width="80%" height="auto" alt="ticket" />
                                </div>
                                <div class="w-75 mx-auto text-center mb-6">
                                    <div class="pb-4">
                                        ПЕРИОДИЧНОСТЬ ОБУЧЕНИЯ ПО ПРОГРАММАМ ПОВЫШЕНИЯ КВАЛИФИКАЦИИ В ОБЛАСТИ ПОЖАРНОЙ БЕЗОПАСНОСТИ УСТАНАВЛИВАЕТ РУКОВОДИТЕЛЬ ОРГАНИЗАЦИИ В СООТВЕТСТВИИ С ПОЖАРНОЙ, ВЗРЫВОПОЖАРНОЙ ОПАСНОСТЬЮ ОБЪЕКТА ЗАЩИТЫ
                                    </div>
                                    <div class="pb-4">
                                        УДОСТОВЕРЕНИЕ ДЕЙСТВИТЕЛЬНО НА ВСЕЙ ТЕРРИТОРИИ РФ
                                    </div>
                                    <a href="" class="text-underline">Узнать подробнее об удостоверении</a
          >
        </div>
        <h2>
          Какие документы необходимо предоставить для дистанционного обучения?
        </h2>
        <ul class="mb-6">
          <li>копию документа об образовании слушателя (копию диплома)</li>
          <li>сведения о дате рождения слушателя</li>
          <li>страховой номер индивидуального лицевого счета лица — СНИЛС</li>
        </ul>
        <h2>Зачем необходимо обучаться ПТМ?</h2>
        <div class="pb-4">
          Пожарно-технический минимум (ПТМ или Пожарный минимум) — это
          обязательный минимум знаний в области пожарной безопасности для
          руководителей, специалистов и работников организации на любом
          предприятии.
        </div>
        <div class="mb-6">
          Обучение по пожарно-техническому минимуму должны проходить все
          руководители (собственники) предприятия, главные специалисты, лица,
          назначенные ответственными за пожарную безопасность, а также
          выполняющие работу с повышенной пожарной опасностью
          (электрогазосварщики, газорезчики и др.) (Приказ МЧС РФ от 12.12.2007
          № 645 «Об утверждении норм пожарной безопасности «Обучение мерам
          пожарной безопасности работников организаций»).
        </div>
        <h2>Кому необходимо обучаться Мерам Пожарной безопасности?</h2>
        <div class="pb-4">
          На руководителей организаций возлагаются обязанности по соблюдению
          требований пожарной безопасности (ст. 37 Федерального закона № 69-ФЗ
          «О пожарной безопасности»), в соответствии с которыми должно
          проводиться обучение мерам пожарной безопасности. Руководители и лица,
          ответственные за пожарную безопасность, несут ответственность за
          нарушение требований, в том числе за отсутствие обучения
          пожарно-техническому минимуму (ст. 38 Федерального закона № 69-ФЗ «О
          пожарной безопасности»).
        </div>
        <div class="mb-6">
          Лица допускаются к работе на объекте защиты только после прохождения
          обучения мерам пожарной безопасности. Обучение лиц мерам пожарной
          безопасности осуществляется по программам противопожарного инструктажа
          или программам дополнительного профессионального образования (п. 3
          Правил противопожарного режима В РФ, утв. Постановлением Правительства
          РФ от 16 сентября 2020 года № 1479).
        </div>
        <h2>Какая периодичность обучения по Пожарно-техническому минимуму?</h2>
        <div class="mb-6">
          Обучение пожарно-техническому минимуму руководителей, специалистов и
          работников организаций, не связанных с взрывопожароопасным
          производством, проводится в течение месяца после приема на работу и с
          последующей периодичностью не реже одного раза в три года, а
          руководителей, специалистов и работников организаций, связанных с
          взрывопожароопасным производством, один раз в год.
        </div>
        <h2>Ответственность за отсутствие обучения</h2>
        <div>
          <div>
            За нарушение требований пожарной безопасности (в том числе за
            отсутствие документов, подтверждающих обучение) предусмотрен
            административный штраф по ч.1 ст. 20.4 КоАП РФ:
          </div>
          <ul>
            <li>
              <strong>для должностных лиц</strong> — от
              <strong>6 000</strong> до <strong>15 000</strong> рублей;
            </li>
            <li>
              <strong>для учреждений и организаций</strong> — от
              <strong>150 000</strong> до <strong>200 000</strong> рублей.
            </li>
          </ul>
          <div>
            Если нарушения привели к возникновению пожара и уничтожению или
            повреждению чужого имущества либо причинению легкого или средней
            тяжести вреда здоровью человека, то согласно ч. 6 ст. 20.4 КоАП РФ
            грозит штраф:
          </div>
          <ul class="mb-6">
            <li>
              <b>для должностных лиц</b> — от <b>40 000</b> до
              <b>50 000</b> рублей;
            </li>
            <li>
              <b>для учреждений и организаций</b> — от <b>350 000</b> до
              <b>400 000</b> рублей.
            </li>
          </ul>
        </div>
        <h2>Ответы на часто задаваемые вопросы по дистанционному обучению</h2>
        <div class="mb-6">
          <div class="accordion" id="accordionExample">
            <div class="mb-4">
              <div id="headingOne">
                <button
                  class="btn w-100 text-left"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseOne"
                  aria-expanded="true"
                  aria-controls="collapseOne"
                >
                  Почему дистанционное обучение в УЦ «Фактор Безопасности»
                  дешевле аналогичных предложений?
                </button>
              </div>

              <div
                id="collapseOne"
                class="collapse show"
                aria-labelledby="headingOne"
                data-parent="#accordionExample"
              >
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Voluptate consequatur atque voluptates vero, aut doloribus.
              </div>
            </div>

            <div class="mb-4">
              <div id="headingTwo">
                <button
                  class="btn w-100 text-left collapsed"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseTwo"
                  aria-expanded="false"
                  aria-controls="collapseTwo"
                >
                  Как проходит дистанционное обучение?
                </button>
              </div>
              <div
                id="collapseTwo"
                class="collapse"
                aria-labelledby="headingTwo"
                data-parent="#accordionExample"
              >
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem
                ad officiis aut sit minus rem repellendus blanditiis perferendis
                minima nemo.
              </div>
            </div>
            <div class="mb-4">
              <div id="headingThree">
                <button
                  class="btn w-100 text-left collapsed"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseThree"
                  aria-expanded="false"
                  aria-controls="collapseThree"
                >
                  Какие у вашего учебного центра есть разрешительные документы?
                </button>
              </div>
              <div
                id="collapseThree"
                class="collapse"
                aria-labelledby="headingThree"
                data-parent="#accordionExample"
              >
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Temporibus, assumenda.
              </div>
            </div>
          </div>
          <a href="" class="answers"
            >Ответы на все часто задаваемые вопросы вы можете посмотреть здесь
            ></a
          >
        </div>
      </div>
    </div>

    <footer>
      <div class="container-xl">
        <div class="row pt-5 pb-2">
          <div class="col-3 p-0">
            <a href="/">
              <div class="logo d-flex">
                <div class="logo_img"></div>
                <div class="logo_text">
                  <div class="pt-3 pb-2">Фактор Безопасности</div>
                  <div>Учебный центр</div>
                </div>
              </div>
            </a>
                                </div>
                                <div class="col-4 mt-3 p-0">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="header-phone">
                                            <a href="tel:+74932409454">+7 (4932) 40-94-54</a>
                                        </div>
                                        <div class="header-time">Пн-Вс: 8-17 (Мск)</div>
                                    </div>
                                </div>
                            </div>
                            <div class="nav-footer">
                                <nav class="navbar navbar-expand-lg p-0">
                                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarFooter" aria-controls="navbarFooter" aria-expanded="false" aria-label="Переключатель навигации">
              <span class="navbar-toggler-icon"></span>
            </button>

                                    <div class="collapse navbar-collapse justify-content-between d-flex" id="navbarFooter">
                                        <ul class="navbar-nav justify-content-between col-10">
                                            <li class="nav-item dropdown d-flex align-items-center">
                                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Об учебном центре
                  </a>
                                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                    <a class="dropdown-item" href="#"><i class="fa fa-circle" aria-hidden="true"></i>О нас</a
                    >

                    <a class="dropdown-item" href="#"
                      ><i class="fa fa-circle" aria-hidden="true"></i
                      >Документы</a
                    >

                    <a class="dropdown-item" href="#"
                      ><i class="fa fa-circle" aria-hidden="true"></i>Сведения
                      об образовательной организации</a
                    >

                    <a class="dropdown-item" href="#"
                      ><i class="fa fa-circle" aria-hidden="true"></i
                      >Реквизиты</a
                    >

                    <a class="dropdown-item" href="#"
                      ><i class="fa fa-circle" aria-hidden="true"></i
                      >Вопрос-ответ</a
                    >

                    <a class="dropdown-item" href="#"
                      ><i class="fa fa-circle" aria-hidden="true"></i>Бонусная
                      программа</a
                    >
                  </div>
                  <i
                    class="fa fa-chevron-down text-light-green pr-1"
                    aria-hidden="true"
                  ></i>
                </li>

                <li class="nav-item dropdown d-flex align-items-center">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarDropdown"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    Направления обучения
                  </a>
                                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                        <a class="dropdown-item" href="#"><i class="fa fa-circle" aria-hidden="true"></i
                      >Пожарно-технический минимум</a
                    >
                    <a class="dropdown-item" href="#"
                      ><i class="fa fa-circle" aria-hidden="true"></i>Повышение
                      квалификации по пожарной безопасности</a
                    >
                    <a class="dropdown-item" href="#"
                      ><i class="fa fa-circle" aria-hidden="true"></i
                      >Профессиональная переподготовка по пожарной
                      безопасности</a
                    >
                  </div>
                  <i
                    class="fa fa-chevron-down text-light-green pr-1"
                    aria-hidden="true"
                  ></i>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">Цены</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#"> Доставка</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Оплата</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Контакты</a>
                                            </li>
                                        </ul>
                                        </div>
                                </nav>
                                </div>
                                <div class="list-in-footer pt-4">
                                    <ul class="pl-1">
                                        <li>
                                            <a href="http://">Лицензия на ведение образовательной деятельности №2051 от
                28.02.2018 г.</a
              >
            </li>
            <li>
              <a href="http://"
                >Аккредитация Министерства труда и социальной защиты РФ №3972 от
                16 июля 2015 г.</a
              >
            </li>
            <li>
              <a href="http://">Политика конфиденциальности</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="nord-soft d-flex flex-column align-items-end pb-3">
                                    <div>
                                        <div>©Все права защищены, 2022</div>
                                        <div class="nord-soft_logo">
                                            <a class="text-decoration-none" href="https://nordsoftware.ru/">
                                                <span class="pr-2">Создание сайта</span>
                                                <img src="/layout/img/nord-soft.png" loading="lazy" alt="nord-soft" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                </footer>

                                <script src="/layout/js/jquery-3.5.1.min.js"></script>
                                <script src="/layout/js/popper.min.js"></script>
                                <script src="/layout/js/bootstrap.min.js"></script>
                                <script>
                                    $(document).ready(function() {
                                        $(".magic-link").click(function() {
                                            $(".nav-search").toggleClass("d-flex").toggleClass("d-none");
                                            $(".magic-input").focus();
                                            $(".search").toggleClass("d-flex").toggleClass("d-none");
                                        });
                                        $(document).mouseup(function(e) {
                                            var container = $(".nav-search");
                                            if (container.has(e.target).length === 0) {
                                                container.addClass("d-none").removeClass("d-flex");
                                                $(".search").addClass("d-flex").removeClass("d-none");
                                            }
                                        });
                                    });
                                </script>
</body>

</html>